# ----------------------------------------
# NPM
# ----------------------------------------

node_modules/
npm-debug.log
*.swp


# ----------------------------------------
# ENV
# ----------------------------------------
.env


